@font-face {
  font-family: 'a_stamperbold';
  src: url("../fonts/a_stamper_bold-webfont.woff2") format("woff2"), url("../fonts/a_stamper_bold-webfont.woff") format("woff"), url("../fonts/a_stamper_bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_cyregular';
  src: url("../fonts/helvetica_cy-webfont.woff2") format("woff2"), url("../fonts/helvetica_cy-webfont.woff") format("woff"), url("../fonts/helvetica_cy-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_cybold';
  src: url("../fonts/helvetica_cy_bold-webfont.eot");
  src: url("../fonts/helvetica_cy_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica_cy_bold-webfont.woff2") format("woff2"), url("../fonts/helvetica_cy_bold-webfont.woff") format("woff"), url("../fonts/helvetica_cy_bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_cybold_italic';
  src: url("../fonts/helvetica_cy_bold_italic-webfont.eot");
  src: url("../fonts/helvetica_cy_bold_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica_cy_bold_italic-webfont.woff2") format("woff2"), url("../fonts/helvetica_cy_bold_italic-webfont.woff") format("woff"), url("../fonts/helvetica_cy_bold_italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_cyitalic';
  src: url("../fonts/helvetica_cy_italic-webfont.eot");
  src: url("../fonts/helvetica_cy_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica_cy_italic-webfont.woff2") format("woff2"), url("../fonts/helvetica_cy_italic-webfont.woff") format("woff"), url("../fonts/helvetica_cy_italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.igy6 {
  font-family: a_stamperbold;
  padding: 0;
  color: #791c04;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #004650;
  color: #e6e8ee;
  font-family: sans-serif;
  font-size: 22px;
  padding: 50px 20%;
}

@media (max-width: 992px) {
  body {
    padding: 50px 10%;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  body {
    padding: 50px 10px;
  }
}

body .portrait {
  margin-top: 20px;
}

body nav {
  margin-top: 30px;
  margin-bottom: 50px;
}

body .main-chapter {
  background-color: #e6e8ee;
  color: #004650;
  padding: 20px;
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  body .main-chapter {
    font-size: 1.6rem;
  }
}

body div {
  text-align: justify;
}

@media (max-width: 768px) {
  body div {
    text-align: left;
  }
}

body a {
  color: #fff4b5;
  text-decoration: none;
}

body q {
  font-style: italic;
}

body ul {
  margin: 0;
  padding: 0;
}

body ul ul {
  padding-left: 30px;
  font-size: 0.8em;
  margin: 30px 0;
}

@media (max-width: 768px) {
  body ul ul {
    padding-left: 10px;
  }
}

body li {
  margin: 10px 0;
  list-style-type: none;
}

body h1 {
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  body h1 {
    font-size: 1.5rem;
  }
}

body h1 .intro {
  font-size: 1rem;
  font-style: italic;
  margin-top: 10px;
}

body h2 {
  font-size: 1.5rem;
  padding-left: 10px;
}

@media (max-width: 768px) {
  body h2 {
    font-size: 1.3rem;
  }
}

body h3 {
  font-size: 1.3rem;
  padding-left: 20px;
}

@media (max-width: 768px) {
  body h3 {
    font-size: 1.1rem;
    padding-left: 10px;
  }
}

body sup {
  margin: 0 5px;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

#footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer span img {
  margin-left: 10px;
}
/*# sourceMappingURL=book.css.map */