$button-color: 'olive';
$button-border: 'white';
$button-text-color: 'white';
$body_bgc: #ccccff;
$chapter_bgc: rgb(230, 232, 238);
$color_bold: #791c04;
$color: rgb(22, 19, 19);
$think-color: rgb(132, 223, 132);
$team_bgc: rgb(0, 70, 80);

$header_height: 180px;
$header-bgc: linear-gradient(to right, gray, white, gray);

@font-face {
    font-family: 'a_stamperbold';
    src: url('../fonts/a_stamper_bold-webfont.woff2') format('woff2'),
         url('../fonts/a_stamper_bold-webfont.woff') format('woff'),
         url('../fonts/a_stamper_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica_cyregular';
    src: url('../fonts/helvetica_cy-webfont.woff2') format('woff2'),
         url('../fonts/helvetica_cy-webfont.woff') format('woff'),
         url('../fonts/helvetica_cy-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica_cybold';
    src: url('helvetica_cy_bold-webfont.eot');
    src: url('helvetica_cy_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('helvetica_cy_bold-webfont.woff2') format('woff2'),
         url('helvetica_cy_bold-webfont.woff') format('woff'),
         url('helvetica_cy_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica_cybold_italic';
    src: url('helvetica_cy_bold_italic-webfont.eot');
    src: url('helvetica_cy_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('helvetica_cy_bold_italic-webfont.woff2') format('woff2'),
         url('helvetica_cy_bold_italic-webfont.woff') format('woff'),
         url('helvetica_cy_bold_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica_cyitalic';
    src: url('helvetica_cy_italic-webfont.eot');
    src: url('helvetica_cy_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('helvetica_cy_italic-webfont.woff2') format('woff2'),
         url('helvetica_cy_italic-webfont.woff') format('woff'),
         url('helvetica_cy_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    // border: 1px solid red;
    margin: 0;
    padding: 0px;
}

nav {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .nav-smartmenu-button {
        display: none;
        @media(max-width: 1150px) {
            display: block;
        }
        height: 50px;
        width: 50px;
        right: 0;
        font-size: 40px;
        font-weight: bold;
        color: white;
        cursor: pointer;
    }

    #nav-topmenu {
        position: absolute;
        text-align: center;
        width: 100%;
        bottom: 3px;
        @media(max-width: 992px) {
            display: none;
        }
        span {
            margin: 0 10px;
            font-size: 0.9em;
            @media(max-width: 1150px ){
                font-size: 0.7em;
            }
        }
    }
}

#nav-smartmenu {
    ul {
        padding: 0;
        margin: 0;

        li {
            margin: 0;
        }
    }

    width: 40%;
    display: none;
    @media(max-width: 768px) {
        width: 60%;
    }
    position: fixed;
    z-index: 2;
    top: 5px;
    right: 5px;
    border-radius: 8px;
    padding: 20px;
    background-color: $team_bgc;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px gray;

    &.nav__smartmenu_active {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .nav__smartmenu__elem {
        display: inline-block;
        width: 100%;
        color: white;
        font-weight: bold;
        list-style-type: none;
        margin: 10px 0;
        cursor: pointer;
    }

    .nav__smartmenu__close {
        text-align: right;
        padding-right: 20px;
        list-style-type: none;
        color: white;
        span {
            cursor: pointer;
        }
    }
} // nav smartmenu

.separator { // разделитель в смарт-меню и др.
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, white, transparent);
    margin: 2px 0;
    list-style-type: none;
}

body {
    min-width: 320px;
    font-family: helvetica_cyregular;
    font-size: 23px;
    box-sizing: border-box;
    background-color: $body_bgc;
    color: $color;
    
    p, ul {
        margin: 20px 0;
    }
    
    li {
        list-style-type: none;
        margin-bottom: 20px;
    }
    
    h1, h2 {
        margin-bottom: 30px;
        text-align: center;
        color: $color_bold;
        padding-top: 10px;
        font-size: 1.5em;
    }

    a {
        text-decoration-line: none;
        color: $color_bold;
        font-weight: bold;
    }

    .bold {
        color: $color_bold;
        font-weight: bold;
    }

    .chapter {
        background-color: $chapter_bgc;
        padding: 20px;
        margin: 40px 0;

        &.team-chapter {
            background-color: $team_bgc;
            color: $chapter_bgc;

            h2 {
                color: white;
            }
        }
    }

    .igy6 {
        font-family: a_stamperbold;
    }
    
}

header {
    position: fixed;
    display: flex;
    align-items: center;

    height: $header_height;
    width: 100%;
    top: 0;
    left: 0;
    background: $header-bgc;
    z-index: 1;
    box-shadow: 5px 5px 5px 5px gray;
    overflow: hidden;

    img {

        &.logo {
            max-width: 60%;
            max-height: 80%;
            opacity: .9;
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .header-text {
        text-align: center;
        padding: 0;
        font-size: 1.2rem;
        margin-bottom: 10px;
        font-style: italic;
        color: darkred;
    }

} // header

main {
    position: relative;
    text-align: justify;
    @media (max-width: 992px) {
        text-align: left;
    }

    margin: auto;
    margin-top: $header_height + 50;

    width: 50%;
    @media (max-width: 992px) {
        width: 85%;
    }
    @media (max-width: 768px) {
        width: 100%;
    }

} // main

.center {
    text-align: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-left {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 40%;
    @media (max-width: 768px) {
        max-width: 50%;
    }
}

.img-right {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    max-width: 40%;
    @media (max-width: 768px) {
        max-width: 50%;
    }
}

.img-center {
    max-width: 40%;
}

.img-circle {
    border-radius: 50%;
    max-width: 40%;
}

.intro {
    font-size: 1.2em;
    text-align: center;
    color: $color_bold;
    h2 {
        padding-bottom: 19px;
        font-size: 1.2em;
        margin-bottom: 20px;
        text-align: center;
    }
}

.list {
    li {
        list-style-type: disc;
        list-style-position: inside;
        margin-bottom: 20px;
    }
}
.people {

    display: flex;
    align-items: center;
    margin: 30px 0;
    text-align: left;

    img {
        border-radius: 50%;
        width: 90px;
        height: 90px;
        margin-right: 30px;
    }

    div {
        width: 100%;
    }

}

.answer {
    margin-left: 30px;
}

.team {
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding: 10px;
    
    img {
        margin-right: 20px;
        border: 3px solid $body_bgc;
        border-radius: 50%;
        height: 90px;
    }
    
    .team-text {
        width: 90%;
        flex-direction: column;
        color: $chapter_bgc;
    }
    .team-think {
        background-color: $think-color;
        height: 32px;
        margin-bottom: 10px;
        position: relative;
        left: -7px;

        span {
            position: relative;
            top: 3px;
            color: $color;
        }

        &:before {
            content: "";
            display: inline-block;
            position: absolute;
            left: -32px;
            border: 16px solid transparent;
            border-right: 16px solid $think-color;
            border-bottom: 16px solid $think-color;
        }
    }
}

.read-more {

    max-height: 0;
    text-align: justify;
    overflow: hidden;
    margin-top: 20px;
    padding: 0 50px;
    @media (max-width: 768px) {
        padding: 0 10px;
        text-align-last: left;
    }
    display: none;
}

.read-more-button {
    
    display: block;
    z-index: 1;
    top: -10px;
    background-color: $button-color;
    color: $button-text-color;
    padding: 10px;
    border: 1px solid $button-border;
    border-radius: 10px;
    opacity: 0.7;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;

    &.center {
        margin: auto;
    }

    &.right {
        margin-left: auto;
        margin-right: 0;
    }

    &.collapse {
        display: none;
        margin-top: 20px;
        bottom: 0;
    }

} // read-more button

footer {
    * {
        max-width: 100%;
        padding-top: 10px;
    }

    background-color: $team_bgc;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    
    .footer-element {
        max-width: 40%;
        &.footer-fb {
          flex-direction: column;
          text-align: center;
        }
      }

        .vertical {
          flex-direction: column;
          text-align: center;
        }
    
    img {
        max-width: 100%;
        max-height: 50px;
        margin-bottom: 5px;
    }
    
    div, a {
        display: flex;
        align-items: center;

    }

    .fb {
        max-height: 100px;
        max-width: 50%;
    }

    span {
        display: inline-block;
    }

    .call {
        max-height: 100px;
    }
}

.call7333 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    img {
        height: 80px;
        margin-right: 20px;
    }
    span {
        color: $color_bold;
        font-weight: bold;
    }
}

.comment {
    font-size: 0.95em;
    font-style: italic;
    @media (max-width: 768px) {
        text-align: left;
    }
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    font-weight: normal;

    img {
        width: 40px;
        height: auto;
        margin-right: 20px;
    }
}